@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700;800&display=swap');


body, h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
h1,h2 {
    font-family: 'Roboto Serif', serif;
}
h1 {
    font-weight: 800;
}
h2 {
    font-weight: 700;
}
h3,h4,h5,h6 {
    font-weight: 700 !important;
}
p {
    margin-bottom: 1rem !important;
}
::placeholder {
    font-style: italic;
}
@layer base {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
      @apply text-lg;
    }
  }
